<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>io.github.qweritos.deskflow-active-session.manager-helper</string>
  <key>BundleProgram</key>
  <string>Contents/MacOS/deskflow-manager-helper</string>
  <key>MachServices</key>
  <dict>
    <key>io.github.qweritos.deskflow-active-session.manager-helper</key>
    <true/>
  </dict>
  <key>ProcessType</key>
  <string>Background</string>
</dict>
</plist>
